* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

a {
  text-decoration: none;
}

.logo {
  width: 25%;
  font-size: 1.2em;
  padding: 20px;
  color: #fff;
}

.phone {
  width: 25%;
  font-size: 1.2em;
  padding: 20px;
  color: #fff;
  text-align: right;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  color: white;
  list-style: none;
}


.main {
  padding: 20px;
  min-height: 400px;
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding: 20px;
  min-height: 300px;
}